@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

/* Assortment of colors */
:root {
    --Aged: #8E6F3E;
    --Bmake-gold: #E5D3A3; 
    --White: #FFFFFF;
    --Rush: #DAAA00;
    --Steel: #555960;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.welcome-background {
    position: absolute;
    background-color: var(--Bmake-gold);
    width: 100%;
    height: 100vh;
}

.Content-Panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.welcome-text {
    font-family: "Raleway", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: italic;
    color: var(--White);
    font-size: 6rem;
}

.subtitle {
    font-family: "Raleway";
    color: var(--Aged);
    font-size: 2rem;
}

.button-container {
    width: 100%;
    margin-top: 50px;
}

.intro-button {
    width: 80%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: var(--White);
    font-size: 2rem;
    border-style: none;
}

.button:hover {
    cursor: pointer;    
}

.button:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

#signup {
    background-color: var(--Rush);
    margin-bottom: 20px;
}

#login {
    background-color: var(--Steel);
}